.body{
  display: flex;
  background-color: #A3BFD9;
}

/* Container principale del form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #A3BFD9;
  padding: 2rem;
}

/* Card del form */
.login-form {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  max-width: 450px;
  width: 100%;
}

/* Titolo */
.login-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  color: #341d49;
}

/* Input group */
.form-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

/* Etichette */
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #444;
}

/* Input */
.form-group input {
  padding: 0.8rem 1rem;
  border: 1px solid #333;
  border-radius: 12px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #ff5a5f;
  outline: none;
}

/* Bottone di registrazione */
.login-btn {
  margin-top: 1.2rem;
  padding: 0.9rem 1rem;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #9B57D6;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #9B57D6;
}

/* Link login */
.register-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.register-link a {
  color: #9B57D6;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}


.auth-background {
  background-image: url('/assets/images/img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 480px) {
  .login-form {
    padding: 1.5rem 1.5rem;
  }
}
